<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854264261280-8kv3aprv7qub774pi3u25qfhk678p240.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854264261280-8kv3aprv7qub774pi3u25qfhk678p240</string>
	<key>API_KEY</key>
	<string>AIzaSyB6F9nipojYNvXiIo7XwMsrcAFQPe8Tb_I</string>
	<key>GCM_SENDER_ID</key>
	<string>854264261280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-c2897</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-c2897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854264261280:ios:4a8959b263939c982037c5</string>
</dict>
</plist>